{% extends "base.html" %}

{%block content %}
        {% csrf_token %}
	{% include "navigation.html" %}
	<div id = "complaint_main" class = "frame">

		<div id = "inner_complaint" class = "frame">
    
			<h1 id="complaint_header">Please write your complaint</h1>

		{% if form.errors %}
		    <p style="color: red;">
		        Please correct the error{{ form.errors|pluralize }} below.
		    </p>
		{% endif %}
		<div id = "innerform" class = "form">
				<font color = "706D6D"><form action="" method="post" id="complaint_from">
					{% csrf_token %}
						<table cellspacing="10" cellpadding="2" border="0" width="100%" style="height:240px;">
					     {{ form.as_table }}
						  </table>
					  <input type="submit" value="Submit" style="margin-left:415px; margin-top:10px;">
				</form>
				<font>
			</div>
		</div>
	</div>
{% endblock %}
