/*default attributes for elements*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, p, blockquote, th, td {margin: 0; padding: 0;}
table {border-collapse: collapse; border-spacing: 0;}
fieldset, img {border: 0;}
address, caption, cite, code, dfn, em, strong, th, var {font-style: normal;}
ol, ul {list-style: none;}
caption, th {text-align: left;}
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight:bold;}
q:before, q:after {content: '';}
abbr, acronym {border: 0;}

body {
    font: 62.5% Verdana;
	background-color:#FEFEFE;
	
}

body a {
  color: inherit;
}

em {
    font-style: italic;
}

/*      class attributes        */

/* clearfix is used for forms */
.clearfix:after { 
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display:inline;
}

* html .clearfix {height: 1%;}

.clearfix {
	display:block;
	outline-style:none;
}

/* used for setting the width of the page */
.frame {
	width: 800px;
	margin: 0 auto;
}

/* horizontal line attribute in home page */
.line1 {
	width: 300px;
	
	size:1px;
	margin-top: 20px;
	color:#F9F9F9;
	
}

/* text attribute in home page */
.promo {
  margin-top: 30px;
  margin-right: 30px;
}

/* search box dynamic searching on student side */
.search_box{
	font-size:13px;
	float:right;
	margin-bottom:10px;
	background-color:#D8D8D8;
	padding:6px;
	border:thin;
	border-color:#000;
	border-radius:10px;
	
}

/* balance div attribute on student home page */
.balance{
	font-size:13px;
	float:left;
	margin-top:0px;
	background-color:#D8D8D8;
	padding:6px;
	border:thin;
	border-color:#000;
	margin-bottom:20px;
}

.t-box{
	border:thin;
	border-style:solid;
	border-color:#CCCCCC;
	height: 180px;
	overflow:auto;
	margin-left:30px;
	margin-right:30px;
	padding:0px;
}

/* menu frame for student */
.t1-frame{
	border:thin;
	border-style:solid;
	border-color:#CCCCCC;
	height: 200px;
	overflow:auto;
	padding:0px;
	margin-bottom:20px;
	border-top-color:#EEEEEE;
}

/* text box div highlighting attr */
.focused {
  background-color: #FFFCE0;
}

.h-box{
	border:thin;
	border-style:solid;
	border-color:#CCCCCC;
	border-top:thin;

}

/* form attrributes */
.form{
	font-size:12px;
	color:#EEEEEE;
}

/* table header row attributes */
.t1_h{
	
	padding:4px;
	padding-left:15px;
	font-size:12px;
	font-weight:bolder;
	background-color:#D8D8D8;
	text-align:center;
}

/*row attributs for tables */
.t1{
	padding:4px;
	padding-left:15px;
	font-size:12px;
	font-weight:lighter;
	text-align:center;
}


.menu_list{
	float:left;
	width: 0px;
	white-space:pre;
	
}

/* attribute for logged in text */
.logged-in #content {
  padding: 0 !important;
}

/* logged in main screen attributes */
.logged-in #main {
  margin-top: 0 !important;
}

/* img attributes for menu table student side */
.add_to_cart{
	margin-top:4px;
	
}


.standard-box-hdr h1{
	font-size: 2.4em;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    padding-top: 40px;
    color: #000000;
}

.first {
  margin-top: 0 !important;
}

/* home page sub-heading characteristics */
.promo h2 {
  font-size: 2.2em;
  color: #A0A0A0;
}

/* home page promo text characteristics */
.promo-content {
  margin-top: 10px;
  line-height: 1.4em;
  font-size: 1.6em;
}

/* if menu table is empty characteristics of message */
.do-something{
  padding: 15px;
  font-size: 1.4em;
  font-style: italic;
  color: #474747;
}

/* attributes of order cart total value */
.total-last{
	text-align:left;
	font-size:13px;
	margin-left:10px;
}

.content-box{
	font-size:14px;
	display:block;
	padding-bottom:50px;
	text-align:center;
	background-color:#EEEEEE;
	margin-bottom: 70px;
	margin-top:51px;
	padding-top:50px;
}

/* attributes of the tab that is selected */
.active {
  background-color: #EEEEEE !important;
  color: #000 !important;
  font-weight: bold;
  border-left-color:#DDD;
  border-right-color:#DDD;
  border-top-color:#DDD;
}

/* order cart footer div attributes */ 
.cart-foot{
	float:right;
	width:30%;
	margin-left:10px;
	margin-right:0px;
	
}

/* bordered frame for box */
.std-bordered-box{
	font-size:12px;
	text-align:center;
	margin-bottom:40px;
}

/* base.html footer on every page */
.footer_base {
	width: 100%;
}

.success {
  float: left;
  width: 500px;
  padding: 0 !important;
  font-size: 1em !important;
  text-align: left !important;
  color: #474747;
}

.done-on {
  color: #AAAAAA;
  float: right;
}

/* error attributes on forms*/
.error {
  padding: 10px !important;
  background-color: #EEC7C7;
  font-size: 1.1em;
  font-style: italic;
  margin: 10px !important;
}

/* hidden classes */
.hide{
	display:none;
}

.add-success-input {
  padding: 10px;
}

/* div boxes with a fixed height */
.height-fix{
	height:370px;
	background-color:#EEEEEE;
}

/* div boxes with fixed postion */
.pos-fix{
	margin-top:70px;
}

/* container for menu and order cart */
.foodlist-1-f{
	margin-top:20px;
	padding-top:10px;
}

.forgot1 {
	size: 50px;
	padding: 0px;
	margin-bottom: 10px;
	margin-right:10px;
	color:#474747;
}

/* help container characteristics*/
.accordion {
	width: 900px;
	border-bottom: solid 1px #c4c4c4;
	margin-bottom:80px;
	margin-top:40px;
}

/* help sub-header */
.accordion h3 {
	background: #e9e7e7 url(arrow-square.gif) no-repeat right -51px;
	padding: 7px 15px;
	margin: 0;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor: pointer;
}

/* help subheader on mouse hover */
.accordion h3:hover {
	background-color: #e3e2e2;
}

/* help sub-header on click */
.accordion h3.active {
	background-position: right 5px;
}

/* preformatted help text */
.accordion pre{
	background: #f7f7f7;
	margin: 0;
	border-right: solid 1px #c4c4c4;
	border-left: solid 1px #c4c4c4;
	padding: 10px 15px 20px;
	overflow: auto;
	white-space: pre-wrap;
	font-family: Verdana, Arial, sans serif;
}



/*				attributes of id			 */



/* base.html header class */
#header {
    padding-bottom: 25px;
    border-bottom: 4px solid #497A32;
	background-color:#4D8433;
	height:60px;
	margin-bottom: 30px;
		
}

/* base logo for pyCourt */
#img_header{
	background-color:#4D8433;
	float:center;
}

/* add-dish for for vendor side */
#add-dish{
	margin-top:50px;
	background-color:#EEE;
	padding:40px;
	margin-bottom:50px;
	font-size:1.2em;
	border-color:#444;
	border-style:solid;
	width:40%;
	float:none;
}

/* add dish label characteristics */
#dish-price label{
	margin-right:36px;
}

/* dish name label characteristics */
#dish-name label{
	
	margin-right:30px;
}

/* form label characteristics */
#username label{
	margin-right:70px;
}

#password label{
	margin-right:73px;
}

#amount label{
	margin-right:30px;
}

/* recharge account vendor side characteristics */
#recharge-submit{
	margin-top:20px;
	margin-right:20px;
}

/*forgot password characteristics */
#forgot3{
	margin-left:20px;
}

/* add dish container characteristics */
#add-dish div{
	margin-bottom:10px;
}

/* recharge container characteristics */
#recharge{
	background-color:#EEEEEE;
	border-style:solid;
	border-color:#777;
	padding:40px;
	margin-top:50px;
	margin-bottom:50px;
	font-size:1.2em;
	width:38%;
}

/*recharge all inner-container characteristics */
#recharge div{
	margin-bottom:10px;
}

/* complaint form characteristics */
#complaint_main
{
	background-color:#EEEEEE;
	margin-top:50px; 
	margin-bottom:70px;
}

/* complaint form inner container characteristics */
#inner_complaint{
	padding:20px;
}

/* inner-form characteristics */
#innerform{
	margin-top:20px;
}

/* complaint form header characteristics */
#complaint_header{
	font-size: 14px;
}

/* order cart container characteristics */
#order_cart{
	background-color:#EEEEEE;
	padding:15px;
	padding-top:25px;
}

/* order history container characteristics */
#t3-frame{
	margin-left:30px;
	margin-right:30px;
	margin-top:10px;
}

/* menu table characetristics */
#t1{
	background-color:#EEEEEE;
}

/* student menu table container characteristics */
#menu_t{
	
	margin-top:5px;
}

/* base.html pyCourt logo characteristics */
#header img {
    margin-left: 10px;
}

/* user profile characteristics */
#profile{
	font-size:16px;
	margin-top:30px;
	background-color:#D8D8D8;
	padding:20px;
	margin-bottom:30px;
}

/* user profile header characteristics */
#profile h1{
	font-size:20px;
	text-transform:capitalize;
}

/* errors and homepage default characteristics */
#homepage #content, #error-page #content {
    padding: 50px 0;
	padding-top: 10px;
}

/* user profile edit form */
#profile-edit-form{
	font-size: 1.4em;
 	font-weight: bold;
	color: #474747;
 	padding: 20px;
 	background-color: #EEEEEE;
	margin: 20px;
	width: 300px;
	margin-top:0;
}

/* main class characteristics */
#main {
  margin-top: 1px;
}

/* form left label characteristics */
#left {
  float: left;
  width: 60%;
}

/* form right text box characteristics */
#right {
  float: left;
  width: 40%;
}

/* settings form label characteristics */
#left_setting{
	float:left;
	width:39%;
}

/* settings form text box characteristics */
#right_setting{
	float:left;
	width:30%;
}

/* left div box for list */
#left_list {
  float: left;
  width: 40%;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:3px;
}

/* right div box for list */
#right_list{
  float: left;
  width: 10%;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:3px;
}

/* list of menu items */
#list{
	margin-bottom: 15px;
}

/* forgot password characteristics */
#forgot2{
	float:left;
	width:60%;
}


#forgot3{
	float:left;
}

/* base.html header and error meassage characteristics */
#homepage h1, #error-page h1 {
    font-size: 2.4em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    padding: 30px;
    padding-top: 0;
    color: #474747;
    border-bottom: 1px solid #EEE;
}

/*homepage content characteristics */
#homepage p, #error-page p {
    padding: 0 80px;
    text-align: center;
    font-size: 1.6em;
    line-height: 1.4em;
}

/* login-signup form div box background */
#login-signup, #logged-in {
  background-color: #EEEEEE;
}

/* authuentication form background */
#auth-page {
  padding: 50px 0;
}

/* insufficient balance message background */ 
#insufficient-balance{
	margin-bottom:60px;
}

/* auth page and login-signup page charateristics */
#auth-page #login-signup {
  width: 296px;
  margin: 0 auto;
}

/* login-signup subheading */
#login-signup h3 {
  font-size: 1.8em;
  font-weight: bold;
  color: #474747;
  padding: 20px;
}

/* login signup anchor tag */
#login-signup h3 a {
  color: #528936;
  text-decoration: none;
}

/* login signup span class */
#login-signup h3 span {
  background: url('/pycourt/login-active.gif') bottom center no-repeat;
  padding-bottom: 14px;
}

/* login signup on hover */
#login-signup h3 a:hover {
  color: #416D2A;
}

/* login-signup container */
#login-signup div {
  padding: 5px 10px;
  margin: 0 10px;
}

/* login-signup label characteristics */
#login-signup label {
  float: left;
  width: 100px;
  font-size: 1.4em;
  padding-top: 4px;
}

/* login signup input box */
#login-signup input {
  float: left;
  width: 149px;
}

/* login signup on submit charactristic change */
#login-signup div.submit {
  padding: 0;
  padding-left: 214px;
 }

/* login signup container on sibmit input box */
#login-signup div.submit input {
  	width: auto;
    margin-bottom: 20px;
}

/* logout message box characteristics */
#logout{
	font-size:14px;
	display:block;
	padding-bottom:140px;
	text-align:center;
	background-color:#EEEEEE;
	padding-top:100px;
}

/* wrong password or username message */
#wrong_msg h2{
	font-size:18px;
}

/* worng passwprd or username message */
#wrong_msg{
	padding-top:60px;
	font-size:12px;
	float:inherit;
	padding-bottom:60px;
}

/* hello meesage nav bar characteristics */
#hello {
  float: left;
  padding: 15px;
  font-size:15px;
  text-transform:capitalize;
}

/* navigation bar characteristics */
#navigation {
  font-size: 1.2em;
  background-color: #4D8433;
  color: #FFF;
}

/* navigation bar ul characteristics */
#navigation ul {
  float: right;
  padding: 5px 0;
}

/* navigation li and navigation li characteristics */
#navigation li, #done-nav li {
  display:inline;
}

#navigation li a, #navigation li.hi, #done-nav li a{
  float: left;
  display: block;
  padding: 10px 15px;
  border-style:solid;
  border-color:#D8D8D8;
  border-bottom:none;
  border-width:thin;
}

/* navigation sub header characteristics */
#navigation-lvl-2 li{
	display:block;	
	font-size: 1.2em;
	background-color: #4D8433;
	color: #FFF;
}

/* navigation tab characteristics */
#done-nav li a,{
  float: left;
  display: block;
  padding: 10px 15px;
  border-left-color:#DDD;
  border-right-color:#DDD;
  border-top-color:#DDD;
  border-left-style:solid;
  border-left-width:thin;
  border-right-style:solid;
  border-right-width:thin;
  border-top-style:solid;
  border-top-width:thin;
}

/* navigation bar characteristics */
#navigation li a, #navigation li.hi{
	float: left;
  display: block;
  padding: 10px 15px;
 }


#navigation li a,{
  text-decoration: none;
  background-color: #4D8433;
  margin-left: 5px;
}

/* navigation bar characteristics on hover bar */
#navigation li a:hover, .friends-back:hover {
  text-decoration: none;
  background-color: #2B471D;
}

#what-ive-done {
  padding: 15px;
}

#what-ive-done h3, #friends #main h3, #tools #main h3 {
  font-size: 1.8em;
  font-weight: bold;
  color: #474747;
}

/* form text box */
#add-success input {
  margin-top: 10px;
  float: right;
}

#what-ive-done h3, #friends #main h3,{
  padding-bottom: 15px;
  border-bottom: 1px solid #EEE;
}

/* navigation bar characteristics */
#done-nav {
  margin-top: 20px;
  padding-left: 15px;
}

/* quantity form characteristics */
#tab-qty{
margin-top: 20px;
  padding-left: 15px;
  float: left;
  display: block;
  padding: 10px 15px;
  border-left-color:#DDD;
  border-right-color:#DDD;
  border-top-color:#DDD;
  border-left-style:solid;
  border-left-width:thin;
  border-right-style:solid;
  border-right-width:thin;
  border-top-style:solid;
  border-top-width:thin;
  background-color:#EEEEEE;
  margin-left:20px;
 }
 
#tab-qty a{
	text-decoration: none;
  font-size: 1.1em;
  color: #000;
  font-weight: bold;;
}

#tab-qty li{
	display: inline;
}


#tab-acc{
margin-top: 20px;
  padding-left: 15px;
  float: left;
  display: block;
  padding: 10px 15px;
  border-left-color:#DDD;
  border-right-color:#DDD;
  border-top-color:#DDD;
  border-left-style:solid;
  border-left-width:thin;
  border-right-style:solid;
  border-right-width:thin;
  border-top-style:solid;
  border-top-width:thin;
  background-color:#EEEEEE;
  margin-left:20px;
}
 
#tab-acc a{
	text-decoration: none;
	font-size: 1.1em;
	color: #000;
	font-weight: bold;;
}

#tab-acc li{
	display: inline;
}

#done-nav a {
  text-decoration: none;
  font-size: 1.1em;
  color: #8D8D8D;
  background-color:#F8F8F8;
}

#done-nav a:hover {
	font-weight:bolder;
  background-color: #F8F8F8;
  color:#000;
  border-left-color:#DDD;
  border-right-color:#DDD;
  border-top-color:#DDD;
}

#thanks {
  background-color: #E4F2E4;
  border: 1px solid #C7F2C8;
  color: #33AA33;
  font-size: 1.4em;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 10px;
}


#left-total{
	margin-left:40px;
}

/* order submission div characteristics */
#sub_order{
	font-size:14px;
	margin-left:145px;
	margin-right:20px;
}

#thanks span {
  float: left;
}

/* total revenue characteristics */
#total-box{
	width:90%;
	margin-top:30px;
	border:thin;
	border-style:solid;
	border-color:#CCCCCC;
	background-color:#D8D8D8;
	padding-top:5px;
	padding-bottom:5px;
	margin-right:10px;
}

/*show notification characteristics */
#shownoti{
	color: #33AA33;
	font-size: 1.4em;
	margin-top: 15px;
	padding: 10px;
	border-radius:20px;
	margin-bottom:20px;
	display:none;
}

/* no-problem div box */
#no-problem {
  float: right;
  font-weight: bold;
}

/* menu table characteristics */
#done-list {
  clear: left;
  background-color: #EEEEEE;
  padding: 15px;
  margin-bottom:50px;
  height:300px;
}

/* wrong password characteristics */
#wrong_password{
	background-color:#EEEEEE;
}

#done-list li {
  display: block;
	padding: 10px;
	font-size: 1.4em;
	border-top: 1px solid #E5E5E5;
	text-decoration: none;
	color: #000;
}

/* order history characteristics */
#history{
	margin-top:90px;
	margin-left:-95px;
}

/* menu table characteristics */ 
#done-list li p span, #done-list li a{
  display: block;
	width: 21px;
	height: 16px;
	margin-right: 10px;
	margin-bottom: 4px;
	float: left;
}

#done-list li a{
  background-image: none;
  width: 16px;
  float: right;
  margin-left: 10px;
}

/* base.html footer characteristics */
#footer {
    font-style: italic;
    color: #8D8D8D;
    font-size: 1.1em;
    padding-bottom: 15px;
	width: 100%;
	text-align: center;
}

#footer a {
    color: #8D8D8D;
}

#footer a:hover {
    color: #000;
}

#footer-inner {
    background-color: #EEEEEE;
    padding: 10px;
	width: 100%;
}

/* quantity form characteristics */
#quantity-form{
	font-size:13px;
	margin:50px;
	margin-left:250px;
	height:105px;
	padding-top:50px;
}

/* sub footer characteristics */
#sub-footer {
  height: 99px;
  background-color: #487858;
  color: #FFF;
}

#sub-footer h3 {
  font-size: 1.6em;
  padding: 15px;
}

/* header characteristics */
#header1{
	margin-top: 1px;
}

#id_message {
  margin-left: 15px;
  height: 25px;
  width: 284px;
  padding: 5px;
  font: 1.1em Helvetica, Verdana, Arial, Helvetica, sans-serif;
  float: left;
  background-color: #3B6248;
  border: 1px solid #749880;
  color: #FFF;
}

/* header for content table */
#content-box-h{
	background-color:#EEEEEE;
	margin-top:70px;
}

/* sub-footer characteristics */
#sub-footer img {
  float: right;
  margin-top: 22px;
}

/* code promo text */
#code-promo {
  float: right;
  font-weight: bold;
  color: #FFF;
  font-size: 1.2em;
  margin-top: -35px;
  margin-right: 5px;
}
