{% extends "base.html" %}

{% block content %}
{% if userprof.is_student and not userprof.is_counter %}
<div id = "top-head" class="frame" > 


{% include "navigation.html" %}

</div>
{% else %}
<div id = "top-head2" class="frame" >

{% include "navigation_counter.html" %}

</div>
{% endif %}


{% if past_orders %}

	<div id="tab-qty" style="margin-top:45px;">
			<ul>
			<li><a  id="tab-qty-1">Order History</a></li>
			</ul>
		</div>
		<div id = "history" class="balance">
			{% if userprof.is_counter%}
	    	<b>Current Revenue:{{ sum }}</b>
			{% else %}
			<b>Current Expenditure:{{ sum}}</b>
			{% endif %}
		</div>
	<div class = "content-box" style="margin-top:80px;">
	 	
											 
		<div id = "t3-frame" class="h-box">
		<table id="t3"	cellspacing="1" cellpadding="1" border="0" width="100%">
		<col width="25%"/><col width="15%"/><col width="10%" /><col width="8%"/><col width="20%"/><col width="20%" />
		<tr><td class="t1_h">Transaction ID</td> <td class="t1_h" style="padding-right:25px;">Dish Name</td><td class="t1_h" style="padding-right:15px;">Dish Price</td><td class="t1_h">Qty Ordered</td><td class="t1_h" style="padding-left:35px;">Placed on </td><td class="t1_h" style="padding-right:15px;" >Status</td></tr>
		
		</table>
		</div>
		<div class="t-box">
            <table id="t4"	cellspacing="2" cellpadding="0" border="0" width="95%">
			<col width="25%"/><col width="15%"/><col width="14%" /><col width="8%"/><col width="30%"/><col width="20%" />
			{% for order in past_orders %}
			{% if order.delivered %}
			<tr><td id = "{{dish.transaction_id}}_a" class="t1">{{ order.transaction_id }}</td>
				<td id = "{{dish.transaction_id}}_b" class="t1"> {{ order.dish.dish_name }}</td>
				<td id = "{{dish.transaction_id}}_c" class="t1"> {{ order.dish.dish_price}}</td>
				<td id = "{{dish.transaction_id}}_d" class="t1"> {{ order.quantity }}</td>
				<td id = "{{dish.transaction_id}}_e" class="t1"> {{ order.datetime }}</td>
				<td id = "{{dish.transaction_id}}_f" class="t1"> {{ order.status }}</td>
			</tr>		
			{% endif %}
            {% endfor %}
        </table>
        </div>
		
	</div>

{% else %}
            NO ORDERS
{% endif %}
		

{% endblock %}
