<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title>PyCourt | Online Food Ordering System.{% if title %} - {{ title }}{% endif %}</title>

<meta name="keywords" content="Pycourt" />
<meta name="description" content="Online Food Ordering System.{% if title %} - {{ title }}{% endif %}" />
<meta name="language" content="en" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="en" />

<link rel="stylesheet" href="/pycourt/finisht.css" media="all" type="text/css" />
<link rel="icon" href="/pycourt/favicon.ico" />
<script type="text/javascript" src="/pycourt/jquery.js"></script>
<script type="text/javascript" src="/pycourt/script.js"></script>
<script type="text/javascript">
</script>
{% block js %}{% endblock %}

</head>

<body{% block body_styles %}{% endblock %}>

<div id="header">
  <div id ="img_header" class="frame">
    <a href="/home/"><img src="/pycourt/logo.jpeg" alt="See what you've done!?!" title="See what you've done!?!" /></a>    
  </div>
</div>

<div id="content" class="frame">
	
  <div id="content-inner">
    {% block content %}{% endblock %}
  </div>
</div>
<div id="footer" class="frame">
  <div id="footer-inner">PyCourt is an online cafeteria management system developed in <a href="http://www.djangoproject.com"><i>Django</i></a>.
  </div>
</div>

</body>
</html>
