{% extends "base.html" %}

{% block body_styles %} id="homepage"{% if user.is_authenticated %} class="logged-in"{% endif %}{% endblock %}



{% block content %}
  {% if not user.is_authenticated %}
  <h1>PyCourt.</h1>
  <p>Pycourt is for Students to order <em>food</em> online.</p>
  <div id="main" class="clearfix">
    <div id="left">
      <div class="promo first">
        <h2>Why?</h2>
        <div class="promo-content">
          If you're like us, you finish tasks assigned to you from several sources &ndash; email, bug trackers, support tickets, face-to-face interactions, etc.  It's difficult to find a list of all the things you've done.
        </div>
      </div>
      <div class="promo">
        <img src="http://media.finisht.com/images/what-ive-done.gif" alt="At a glance reporting" title="At a glance reporting" />
        <h2>At a glance reporting</h2>
        <div class="promo-content">
          There comes a point in time where it'd be nice to see what you've done in the past, so we made that easy.
        </div>
      </div>
      <div class="promo">
        <img src="http://media.finisht.com/images/done.gif" alt="One-touch operation!" title="One-touch operation!" />
        <h2>One-touch operation!</h2>
        <div class="promo-content">
          No one needs another hoop to jump through in their workflow.  Just type, submit, done.
        </div>
      </div>
    </div>
    <div id="right">
        <div id = "auth-page">
             <div id="login-signup">
                 <h3><a href="/login/" id="login">Login</a> / <a href="/signup/" id="signup">Signup</a></h3>
                {% include "auth_form.html" %}
              </div>
          </div>
    </div>
  </div>
  {% else %}
  <script type="text/javascript">
  var activeDone = 'today'


function SwapDone(current) {
    if (current != activeDone) {
        var ctemp = document.getElementById(current+"-nav");
        ctemp.setAttribute("class",'active');
        var actemp = document.getElementById(activeDone+"-nav");
        actemp.removeAttribute("class");
        var cstemp = document.getElementById(current);
        cstemp.setAttribute("style",'display: block');
        var tmp = document.getElementById(activeDone);
        tmp.setAttribute("style",'display: none');
        activeDone = current;
        return false;
    } else {
        return false;
    }
}
  </script>
  <div id="main" class="clearfix">
    {% include "navigation.html" %}
    {% if request.GET %}
    <div id="thanks" class="clearfix">
      <span>Thanks for doing that!</span>
      <a href="#" id="no-problem">No problem</a>
    </div>
    {% endif %}
    {% if delete %}
    <div id="thanks" class="clearfix">
      <span>I've deleted that for you</span>
      <a href="#" id="no-problem">Thanks</a>
    </div>
    {% endif %}
    <div id="add-success">
      <form action="/" method="post" id="done-form">
        <div class="add-success-input clearfix">
          <label for="id_description">What did you do?</label>
          <textarea id="id_description" name="description" rows="5" cols="60"></textarea>
          <input type="submit" value="Done" />
        </div>
      </form>
    </div>
    <div id="what-ive-done" class="clearfix">
      <h3>What <span id="whats-done">{% if not disable_friends and has_friends %}we've{% else %}I've{% endif %}</span> done:</h3>
      <form id="with-friends-form" method="post" action=".">
        <div id="with-friends">
          <img src="http://media.finisht.com/images/loading.gif" alt="Loading" title="Loading" id="loading-friends" style="display: none;" />
          <input type="checkbox" id="with-friends-check"{% if not disable_friends %} checked="checked"{% endif %} /><label for="with-friends-check"> with friends</label>
        </div>
      </form>
  {% if userprofile.is_student %}
      <div id="done-nav">
        <ul>
          <li><a href="javascript:SwapDone('today');" class="active" id="today-nav">Counter 1</a></li>
          <li><a href="javascript:SwapDone('yesterday');" id="yesterday-nav">Counter 2</a></li>
          <li><a href="javascript:SwapDone('past7days');" id="past7days-nav">Counter 3</a></li>
        </ul>
      </div>
      <div id="done-list">
        <div id="today">
          {% if counter_1 %}
          <ul>
            {% for dish in counter_1 %}
                <p class="success">
                  <span></span>
                  <li>{{dish.dish_name}} {{ dish.dish_price }}</li>
                </p>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div id="yesterday" style="display: none;">
          {% if counter_2 %}
          <ul>
            {% for dish in counter_2 %}
                <p class="success">
                  <span></span>
                  <li>{{ dish.dish_name }} {{ dish.dish_price }}</li>
                </p>
            {% endfor %}
          </ul>
          {% else %}
          <div class="do-something">You you didn't do anything yesterday!  You fail!</div>
          {% endif %}
        </div>
        <div id="past7days" style="display: none;">
          {% if counter_3 %}
          <ul>
            {% for dish in counter_3 %}
                <p class="success">
                  <span></span>
                  <li>{{ dish.dish_name}} {{ dish.dish_price }}</li>
                </p>
            {% endfor %}
          </ul>
          {% else %}
          <div class="do-something">You haven't done anything the past 7 days!  What a bum!</div>
          {% endif %}
        </div>
  {% endif %}
  {% endif %}
{% endblock %}

{% block sub_footer %}
  {% if user.is_authenticated %}
    {% include "sub_footer.html" %}
  {% endif %}
{% endblock %}
