
{% extends "base.html" %}

{% block body_styles %} id="homepage"{% if user.is_authenticated %} class="logged-in"{% endif %}{% endblock %}


{% block content %}

{% if not user.is_authenticated %}
<script type="text/javascript">
  var activeLogin = 'Login';
</script>

<!-- This "main" division shows login form and news -->

<div id="main" class="clearfix">
	<h1>Header pending !!</h1>

	<!-- Start of "left" division which shows news -->
	<div id="left">
		<div id="header1" class="promo">
      		<h2>Topic 1</h2>
       		<div class="promo-content">
				Blank
       		</div>
    	</div>
		<hr class= "line1" align = "left" size="1">
		<div class="promo">
      		<h2>Topic 2</h2>
      		<div class="promo-content">
          	Blank
        	</div>
      	</div>
		<hr class= "line1" align = "left" size="1">
      	<div class="promo">
      		<h2>Topic 3</h2>
        	<div class="promo-content">
          	Blank
        	</div>
      	</div>
	</div>

	<!-- End of "left" division thats shows news -->


	<!-- Start of the "right" division which shows login form -->   
	<div id="right">
   		<div id="login-signup">
		<h3><span id="login">Login</span> | <a href="/signup/" id="signup">Signup</a></h3>
        {% include "auth_form.html" %}
         </div>
	</div>
	<!-- End of "right" division -->

</div>
<!-- end of main division -->

 
{% else %}

<!-- Mark the "main" division. There can be only 1 in the document but only one of them is executed at a time -->
<div id="main" class="clearfix">
{% include "navigation.html" %}
	<div id="what-ive-done" class="clearfix">
    {% if userprofile.is_student and not userprofile.is_counter %}
<!-- Executed if the profile is of student -->
		<h3>Menu</h3>
  
  
	 	<script type="text/javascript" src="/pycourt/filterfoodlist.js"></script>

		<div id="done-nav" style="display:">
			<ul>
			<li><a href="today" class="active" id="today-nav">Counter 1</a></li>
			<li><a href="yesterday" id="yesterday-nav">Counter 2</a></li>
			<li><a href="past7days" id="past7days-nav">Counter 3</a></li>
			</ul>
		</div>
		<div id="tab-qty" style="display:none">
			<ul>
			<li><a  id="tab-qty-1">Enter Quantity</a></li>
			</ul>
		</div>

		<div id="done-list">
		
			<form method="post" id="quantity-form" style="display:none;">
			
			<label for="qty">Enter the Quantity to order : </label>
			<input type="text" id="qty_no" value="1" size="1" style="margin-bottom:15px">
			<img src="/pycourt/add.png" id="qty_sub" style="padding-top:10px;">
                
			</form>
			<div id="menu_t">
				<div id="today">
					{% if counter_1 %}
					<!--Counter Balance of User -->
					<div class="balance">
					<b>Current Balance: Rs {{ student_account.counter1_balance }} /-</b>
					</div>
					<div class="search_box">
						<form>
        				<b>Search </b>
						<input type="text" onkeyup="foodlistfilter(this, 'foodlist_1', '1')" name="filt">
						</form> 
					</div>
					<div class ="foodlist-1-f" >
						<table id="foodlist-1-h" cellspacing="1" cellpadding="2" border="0" width="100%">
						<col width="40%"/><col width="30%"/><col width="30%" />
						<tr><td class="t1_h">  Dish Name </td> <td class="t1_h"> Dish Price </td><td class="t1_h"></td></tr>
			
						</table>
					</div>
					<div id ="foodlist-1-div" class="t1-frame">
						<table id="foodlist_1" cellspacing="1" cellpadding="2" border="0" width="100%">
						<col width="40%"/><col width="30%"/><col width="30%" />
						{% for dish in counter_1 %}
			
			
						<tr><td id = "{{dish.id}}count1a" class="t1"> {{ dish.dish_name }} </td>
						<td id = "{{dish.id}}count1b" class="t1"> {{ dish.dish_price }} </td>
						<td class = "today"><img src="/pycourt/add.png" id = "{{dish.id}}count1" alt="order" title="Order" class = "add_to_cart" style="padding-left:60px;"align="center"></td></tr>
				
			
						{% endfor %}
						</table>
					</div>
		  	
			

					{% else %}
					<div class="do-something">Database not populated !
					</div>
					{% endif %}
				</div>

				<div id="yesterday" style="display:none;">
        
					{% if counter_2 %}
				    <div class="balance">
					    <b>Current Balance: Rs {{ student_account.counter2_balance }} /-</b>
					</div>
					<div class="search_box">
						<form>
						<b>Search </b>
						<input type="text" onkeyup="foodlistfilter(this, 'foodlist_2', '1')" name="filt">
						</form> 
					</div>
					<div class ="foodlist-1-f" >
						<table id="foodlist-2-h" cellspacing="1" cellpadding="2" border="0" width="100%">
						<col width="40%"/><col width="30%"/><col width="30%" />
						<tr><td class="t1_h"> Dish Name </td> <td class="t1_h"> Dish Price </td><td class="t1_h"></td></tr>
						</table>
					</div>
					<div id ="foodlist-2-div" class="t1-frame">
					<table id="foodlist_2" cellspacing="1" cellpadding="2" border="0" width="100%">
					<col width="40%"/><col width="30%"/><col width="30%" />
					{% for dish in counter_2 %}
			
					<tr><td id = "{{dish.id}}count2a" class="t1"> {{ dish.dish_name }} </td>
					<td id = "{{dish.id}}count2b" class="t1"> {{ dish.dish_price }} </td>
					<td class= "yesterday"><img src="/pycourt/add.png" id = "{{dish.id}}count2" alt="order" title="Order" class = "add_to_cart" align="center" style="padding-left:60px;"></td></tr>
					

					{% endfor %}
					</table>
					</div>
			
					{% else %}
					<div class="do-something">Database not populated!</div>
					{% endif %}
				</div>



				<div id="past7days" style="display:none">
					{% if counter_3 %}
					<div class="balance">
						<b>Current Balance: Rs {{ student_account.counter3_balance }} /-</b>
					</div>
				<div class="search_box">
					<form>
          			<b>Search</b>
		  			<input type="text" onkeyup="foodlistfilter(this, 'foodlist_3', '1')" name="filt">
					</form> 
				</div>
				<div class ="foodlist-1-f" >
					<table id="foodlist-3-h" cellspacing="1" cellpadding="2" border="0" width="100%">
					<col width="40%"/><col width="30%"/><col width="30%" />
					<tr><td class="t1_h"> Dish Name </td> <td class="t1_h"> Dish Price </td><td class="t1_h"></td></tr>
					</table>
				</div>
				<div id ="foodlist-3-div" class="t1-frame">
					<table id="foodlist_3" cellspacing="1" cellpadding="2" border="0" width="100%">
					<col width="40%"/><col width="30%"/><col width="30%" />

					{% for dish in counter_3 %}
				    <tr><td id = "{{dish.id}}count3a" class="t1"> {{ dish.dish_name }} </td>
					<td id = "{{dish.id}}count3b" class="t1"> {{ dish.dish_price }} </td>
					<td class = "past7days"><img src="/pycourt/add.png" id = "{{dish.id}}count3" alt="order" title="Order" class = "add_to_cart" align="center" style="padding-left:60px;"></td></tr>
					{% endfor %}
					</table>
				</div>
				
				{% else %}
				<div class="do-something">Database not populated !</div>
				{% endif %}
			</div>
		</div>
	</div>
	
	<div id="header-cart" style="display:none"><h3>Cart</h3></div>
	<div id="add-success" style="display:none;">
	
		<form action="/order/" method="post" id="done-form">
		{% csrf_token %}
		<div class="add-success-input clearfix">
			<div  style= "padding-top:10px; padding-bottom:7px;">
				
				<label style = "background-color:#EEEEEE; margin-left:15px; padding:15px; margin-top:10px; padding-top:7px;	padding-bottom:10px; font-size:12px ; display:inline; color:#000; font-weight:bold;">Order</label>
			</div>
			<div class="height-fix">
				<div id="order_cart">
					<div class = "t1-frame" >
						<table id="t1" cellspacing="1" cellpadding="2" border="0" width="100%">
						<tbody>
						<tr><th class="t1_h">Item Ordered</th><th class = "t1_h">Unit Price</th><th class = "t1_h">Quantity</th><th class = "t1_h">Total</th><th class = "t1_h">Counter No.</th><th class = "t1_h"></th></tr>
						<tr id="row_1" class="hide"><th class="t1" id="1_1"></th><th class="t1" id="1_2"></th><th class="t1" id="1_3"></th><th class="t1" id="1_4"></th><th class="t1" id="1_5"><th class="t1" id="1_6"><img src="/pycourt/delete.png" id = "img1" alt="order" title="Order" class = "add_to_cart"></th></tr>
				
						<tr id="row_2" class="hide"><th class="t1" id="2_1"></th><th class="t1" id="2_2"></th><th class="t1" id="2_3"></th><th class="t1" id="2_4"></th></th><th class="t1" id="2_5"><th class="t1" id="2_6"><img src="/pycourt/delete.png" id = "img2" alt="order" title="Order" class = "add_to_cart"></th></tr>
				
						<tr id="row_3" class="hide"><th class="t1" id="3_1"></th><th class="t1" id="3_2"></th><th class="t1" id="3_3"></th><th class="t1" id="3_4"></th></th><th class="t1" id="3_5"><th class="t1" id="3_6"><img src="/pycourt/delete.png" id = "img3" alt="order" title="Order" class = "add_to_cart"></th></tr>
				
						<tr id="row_4" class="hide"><th class="t1" id="4_1"></th><th class="t1" id="4_2"></th><th class="t1" id="4_3"></th><th class="t1" id="4_4"></th><th class="t1" id="4_5"><th class="t1" id="4_6"><img src="/pycourt/delete.png" id = "img4" alt="order" title="Order" class = "add_to_cart"></th></tr>
				
						<tr id="row_5" class="hide"><th class="t1" id="5_1"></th><th class="t1" id="5_2"></th><th class="t1" id="5_3"></th><th class="t1" id="5_4"></th><th class="t1" id="5_5"><th class="t1" id="5_6"><img src="/pycourt/delete.png" id = "img5" alt="order" title="Order" class = "add_to_cart"> </th></tr>
				
						<tr id="row_6" class="hide"><th class="t1" id="6_1"></th><th class="t1" id="6_2"></th><th class="t1" id="6_3"><th class="t1" id="6_4"></th></th><th class="t1" id="6_5"><th class="t1" id="6_6"><img src="/pycourt/delete.png" id = "img6" alt="order" title="Order" class = "add_to_cart"></th></tr>
				
						<tr id="row_7" class="hide"><th class="t1" id="7_1"></th><th class="t1" id="7_2"></th><th class="t1" id="7_3"></th><th class="t1" id="7_4"></th><th class="t1" id="7_5"><th class="t1" id="7_6"><img src="/pycourt/delete.png" id = "img7" alt="order" title="Order" class = "add_to_cart"></th></tr>
				
						<tr id="row_8" class="hide"><th class="t1" id="8_1"></th><th class="t1" id="8_2"></th><th class="t1" id="8_3"></th><th class="t1" id="8_4"></th><th class="t1" id="8_5"><th class="t1" id="8_6"><img src="/pycourt/delete.png" id = "img8" alt="order" title="Order" class = "add_to_cart"></th></tr>
				
						<tr id="row_9" class="hide"><th class="t1" id="9_1"></th><th class="t1" id="9_2"></th><th class="t1" id="9_3"></th><th class="t1" id="9_4"></th><th class="t1" id="9_5"><th class="t1" id="9_6"><img src="/pycourt/delete.png" id = "img9" alt="order" title="Order" class = "add_to_cart"></th></tr>
				
						<tr id="row_10" class="hide"><th class="t1" id="10_1"></th><th class="t1" id="10_2"></th><th class="t1" id="10_3"></th><th class="t1" id="10_4"></th><th class="t1" id="10_5"><th class="t1" id="10_6"><img src="/pycourt/delete.png" id = "img10" alt="order" title="Order" class = "add_to_cart"></th></tr>
						</tbody>
						</table>
						<input type="text" name="order" value="" id="orders" style="display:none;"/>
				
					</div>
					<div class="cart-foot">
						<ul><li>
						<div id="total-box">
							<label id="left-total" class="total-last"><b> Total Price: Rs	</label><label id ="total_disp" style="margin-right:5px;" class="total-last">0</b></label>
						</div>
						</li>
						<li>
						<input type="submit" id="sub_order" value="order"/>
					</div>
					</li></ul>
				</div>
			</div>
		</div>
	</div>
	</form>
</div>
</div>

{% else %}     

 <!-- Executed if the profile is of counter -->


<script type="text/javascript" src="/pycourt/newordernotification.js"></script>
<h3>Current Orders</h3>


<div id="shownoti" height="200" width="200" style="background-color:#456446;">
</div>
<div id="done-nav">
	<ul>
		<li><a href="today" class="active" id="today-nav">{{user.first_name}}</a></li>
		<li><a href="past7days" id="past7days-nav">Total Dishes</a></li>
	</ul>
</div>


<div id="done-list">
	<div id="today">
		
		<div class="balance">
			<b>Current Revenue: Rs {{ counter_account.balance }} /-</b>
        </div>
		<div class ="foodlist-1-f" >
			<table id="orderlist-h" cellspacing="1" cellpadding="2" border="0" width="100%">
			<tr><td class="t1_h"> Dish Id </td> <td class="t1_h"> Student Id  </td> <td class="t1_h"> Status </td><td class="t1_h">Transaction id</td><td class="t1_h"></td></tr></table>
			<col width="20%"/><col width="20%"/><col width="20%" /><col width="20%"/><col width="20%"/>
		</div>
		<div id ="foodlist-3-1" class="t1-frame">
			
			{% if not order.status %}
			<table id="orderlist-1" cellspacing="1" cellpadding="2" border="0" width="100%">
			<col width="20%"/><col width="20%"/><col width="20%" /><col width="30%"/><col width="5%"/>
			{% for order in orders %}
			
			<tr><td id = "{{order.id}}a" class="t1">{{ order.dish.dish_name }}</td>
			<td id = "{{order.id}}e" class = "t1" style = "display:none">{{order.id}}</td>
			<td id = "{{order.id}}b" class="t1">{{ order.student_id }}</td>
			<td id = "{{order.id}}c" class="t1">{{order.status}}</td>
			<td id = "{{order.id}}d" class="t1">{{ order.transaction_id }}</td>
			<td><img id = "{{order.id}}m" class="a" src="/pycourt/add.png" alt="order" title="order" class = "add_to_cart"><img id = "{{order.id}}n" class="b" src="/pycourt/delete.png" alt="order" title="order" class = "add_to_cart"><img id = "{{order.id}}o" class="c" src="/pycourt/del.png" alt="order" title="order" class = "add_to_cart"></td></tr>
		
			{% endfor %}
			{% endif %}
			</table>
			
		</div>
			
	

	
	</div>
		
		
        <div id="past7days" style="display: none;">
        
			{% if counter%}
			<div class ="foodlist-1-f" >
				<table id="orderlist_3" cellspacing="1" cellpadding="2" border="0" width="100%">
				<col width="23%"/><col width="23%"/><col width="23%" /><col width="23%"/><col width="8%"/>
				<tr><td class="t1_h"> dish id </td> <td class="t1_h"> dish name </td> <td class="t1_h"> dish price </td><td class="t1_h"> Dish Availability </td><td class=t1_h></td></tr></table>
			</div>
			<div id ="foodlist-3-div" class="t1-frame">
				
				<table id="orderlist-4" cellspacing="1" cellpadding="2" border="0" width="100%">
				<col width="23%"/><col width="23%"/><col width="23%" /><col width="23%"/><col width="6%"/>
				{% for dish in dishes %}
				<tr id="{{order.id}}1"><td id = "{{dish.id}}counta" class="t1"> {{ dish.id }} </td>
				<td id = "{{order.id}}2" class="t1"> {{ dish.dish_name }} </td>
				<td id = "{{order.id}}3" class="t1"> {{ dish.dish_price }} </td>
				{% if count == 0 %}
				<td id = "{{dish.id}}4" class="t1">{{ dish.counter1 }}</td>
				{% endif %}
				{% if count == 1 %}
				<td id = "{{dish.id}}4" class="t1">{{ dish.counter2 }}</td>
				{% endif %}
				{% if count == 2 %} 
				<td id = "{{dish.id}}4" class="t1">{{ dish.counter3 }}</td>
				{% endif %}
				<td ><img id= "{{dish.id}}x" class = "a" src="/pycourt/del.png"> <img id = "{{dish.id}}y" class = "b" src="/pycourt/add.png"></td></tr>
				{% endfor %}
            
				</table>
				
			</div>
		
        
			<br><input type="submit" id="add_dish" value="Add Dish"/>
		
			{% else %}
			<div class="do-something">database not populated!</div>
			{% endif %}
		</div>

	</div>
</div>

</div>
    {% endif %}
	
{% endif %}

{% endblock %}

