{% extends "base.html" %}

{% block body_styles %} id="homepage"{% if user.is_authenticated %} class="logged-in"{% endif %}{% endblock %}


{% block content %}
{% if not user.is_authenticated %}
<script type="text/javascript">
  var activeLogin = 'Login';
</script>

<!-- This "main" division shows login form and news -->

<div id="main" class="clearfix">
	<h1>Header pending !!</h1>

	<!-- Start of "left" division which shows news -->
	<div id="left">
		<div id="header1" class="promo">
      		<h2>Topic 1</h2>
       		<div class="promo-content">
				Blank
       		</div>
    	</div>
		<hr class= "line1" align = "left" size="1">
		<div class="promo">
      		<h2>Topic 2</h2>
      			<div class="promo-content">
          		Blank
        		</div>
      		</div>
		<hr class= "line1" align = "left" size="1">
      		<div class="promo">
      		<h2>Topic 3</h2>
        		<div class="promo-content">
        	  	Blank
        		</div>
      		</div>
	</div>

	<!-- End of "left" division thats shows news -->


	<!-- Start of the "right" division which shows login form -->   
	<div id="right">
   		<div id="login-signup">
		<h3><span id="login">Login</span> | <a href="/signup/" id="signup">Signup</a></h3>
        {% include "auth_form.html" %}
         </div>
	</div>
	<!-- End of "right" division -->

</div>
<!-- end of main division -->

 
{% else %}

<!-- Mark the "main" division. There can be only 1 in the document but only one of them is executed at a time -->
<div id="main" class="clearfix">
{% include "navigation.html" %}
<div id="what-ive-done" class="clearfix">
    {% if userprofile.is_student and not userprofile.is_counter %}
<!-- Executed if the profile is of student -->
		<h3>menu</h3>
  
  
  		<script type="text/javascript" src="/pycourt/filterfoodlist.js"></script>

		<div id="done-nav">
			<ul>
			<li><a href="today" class="active" id="today-nav">counter 1</a></li>
			<li><a href="yesterday" id="yesterday-nav">counter 2</a></li>
			<li><a href="past7days" id="past7days-nav">counter 3</a></li>
			</ul>
		</div>
    <div id="done-list">
		<div id="today">
			{% if counter_1 %}
			<div class="search_box">
				<form>
        		<b>search </b>
				<input type="text" onkeyup="foodlistfilter(this, 'foodlist_1', '1')" name="filt">
				</form>
			</div>
			
			<table id="foodlist_1" cellspacing="1" cellpadding="2" border="0" width="100%">
			<tr><td class="t1_h"> dish id </td> <td class="t1_h">  dish name </td> <td class="t1_h"> dish price </td><td class="t1_h"></td>
			{% for dish in counter_1 %}
			<tr><td id = "{{dish.id}}count1a" class="t1"> {{ dish.id }} </td>
				<td id = "{{dish.id}}count1b" class="t1"> {{ dish.dish_name }} </td>
				<td id = "{{dish.id}}count1c" class="t1"> {{ dish.dish_price }} </td>
				<td><a id = "{{dish.id}}count1" href="/order"><img src="/pycourt/add.png" alt="order" title="order" class = "add_to_cart"></a></td></tr>
			{% endfor %}
		  	</table>
			

			{% else %}
		    <div class="do-something">database not populated !</div>
			{% endif %}
        </div>

        <div id="yesterday" style="display: none;">
        
			{% if counter_2 %}
			<div class="search_box">
				<form>
				<b>search </b>
				<input type="text" onkeyup="foodlistfilter(this, 'foodlist_2', '1')" name="filt">
				</form> 
			</div>
			<table id="foodlist_2" cellspacing="1" cellpadding="2" border="0" width="100%">
			<tr><td class="t1_h"> dish id </td> <td class="t1_h"> dish name </td> <td class="t1_h"> dish price </td>

			{% for dish in counter_2 %}
            <tr><td id = "{{dish.id}}count2a" class="t1"> {{ dish.id }} </td>
			<td id = "{{dish.id}}count2b" class="t1"> {{ dish.dish_name }} </td>
			<td id = "{{dish.id}}count2c" class="t1"> {{ dish.dish_price }} </td>
			<td><a id = "{{dish.id}}count2" href="/order"><img src="/pycourt/add.png" alt="order" title="order" class = "add_to_cart"></a></td></tr>

            {% endfor %}

			</table>
			{% else %}
			<div class="do-something">database not populated!</div>
			{% endif %}
		</div>



		<div id="past7days" style="display: none;">
			 {% if counter_3 %}
			 <div class="search_box">
				<form>
          		<b>search</b>
		  		<input type="text" onkeyup="foodlistfilter(this, 'foodlist_3', '1')" name="filt">
				</form> 
			</div>
			<table id="foodlist_3" cellspacing="1" cellpadding="2" border="0" width="100%">
			<tr><td class="t1_h"> dish id </td> <td class="t1_h">  dish name </td> <td class = "t1_h"> dish price </td>

            {% for dish in counter_3 %}
            <tr><td id = "{{dish.id}}count3a" class="t1"> {{ dish.id }} </td>
			<td id = "{{dish.id}}count3b" class="t1"> {{ dish.dish_name }} </td>
			<td id = "{{dish.id}}count3c" class="t1"> {{ dish.dish_price }} </td>
			<td><a id = "{{dish.id}}count3" href="/order"><img src="/pycourt/add.png" alt="order" title="order" class = "add_to_cart"></a></td></tr>
            {% endfor %}
			</table>
			{% else %}
			<div class="do-something">database not populated !</div>
			{% endif %}
			</div>
		</div>
	</div>


	<div id="add-success">
		<form action="/order/" method="post" id="done-form">
		{% csrf_token %}
		<div class="add-success-input clearfix">
			<div style= "padding-top:10px; padding-bottom:7px;">
				<label style = "background-color:#EEEEEE; margin-left:15px; padding:15px; margin-top:10px; padding-top:7px;	padding-bottom:10px; font-size:12px; display:inline; color:#000; font-weight:bold;">Order</label>
			</div>
			<div id="order_cart">
				<table id="t1" cellspacing="1" cellpadding="2" border="0" width="50%">
				<tbody>
				<tr>
				<th class="t1_h">Item Ordered</th><th class = "t1_h">Price</th>
				</tr>
				</tbody>
				</table>
				<input type="text" name="order" value="" id="orders" style="display:none;"/>
				<input type="submit" value="Order" style="float:left;"/>
			</div>
		</div>
		</form>
	</div>
</div>
    {% else %}     
    <!-- Executed if the profile is of counter -->
    <h3>Current Orders</h3>
		<div id="done-nav">
			<ul>
                <li><a href="today" class="active" id="today-nav">{{user.username}}</a></li>
                <li><a href="yesterday" class="active" id="yesterday-nav">Dish List</a></li>
			</ul>
		</div>
    <div id="done-list">
        <div id="today">
            {% if orders %}
			
			<table id="orderlist_1" cellspacing="1" cellpadding="2" border="0" width="100%">
			<tr><td class="t1_h"> Dish Id </td> <td class="t1_h"> Student Id  </td> <td class="t1_h"> Status </td><td class="t1_h"></td>
			{% for order in orders %}
			<tr><td id = "{{order.order_id}}a" class="t1"> {{ order.dish.dish_name }} </td>
				<td id = "{{dish.id}}count1b" class="t1"> {{ order.student_id }} </td>
				<td id = "{{dish.id}}count1c" class="t1"> {{ order.status }} </td>
				<td><a id = "{{dish.id}}count1" href="/order"><img src="/pycourt/add.png" alt="order" title="order" class = "add_to_cart"></a></td></tr>
			{% endfor %}
		  	</table>
			

			{% else %}
		    <div class="do-something">database not populated !</div>
			{% endif %}

		</div>
        <div id="yesterday" style="display: none;">
        
			{% if counter%}
			<div class="search_box">
				<form>
				<b>search </b>
				<input type="text" onkeyup="foodlistfilter(this, 'foodlist_2', '1')" name="filt">
				</form> 
			</div>
			<table id="foodlist_2" cellspacing="1" cellpadding="2" border="0" width="100%">
			<tr><td class="t1_h"> dish id </td> <td class="t1_h"> dish name </td> <td class="t1_h"> dish price </td>

			{% for dish in counter %}
            <tr><td id = "{{dish.id}}count2a" class="t1"> {{ dish.id }} </td>
			<td id = "{{dish.id}}count2b" class="t1"> {{ dish.dish_name }} </td>
			<td id = "{{dish.id}}count2c" class="t1"> {{ dish.dish_price }} </td>
			<td><a id = "{{dish.id}}count2" href="/order"><img src="/pycourt/add.png" alt="order" title="order" class = "add_to_cart"></a></td></tr>

            {% endfor %}

			</table>
			{% else %}
			<div class="do-something">database not populated!</div>
			{% endif %}
		</div>

    {% endif %}
{% endif %}
{% endblock %}

{% block sub_footer %}
  {% if user.is_authenticated %}
    {% include "sub_footer.html" %}
  {% endif %}
{% endblock %}
