<div id="navigation" class="clearfix">
  {% if not home %}{% endif %}
  <div id="hello">Welcome, <b>{{ user.first_name }} </b>!</div>
  <ul>
	<li><a class="setting" href="/complaint/">Complaints</a></li>
    <li><a class="setting" href="/setting/">Edit Profile</a></li>
    <li><a class="profile" href="/profile/">View Profile</a></li>
    <li><a class="logout" href="/logout/">Logout</a></li>
    <li><a class="history" href="/orderhist/">Order History</a></li>
    <li><a class="recharge" href="/recharge/">Recharge Account</a></li>
  </ul>
</div>
