{% extends "base.html" %}

{% block title %}My Dashboard{% endblock %}

{% block content %}
{% include "navigation.html" %}
<div style ="margin-top:50px; margin-bottom:70px;">
<b><font size="4"><label style = "background-color:#EEEEEE; margin-left:27px; padding:9px; margin-top:100px">Edit Profile</label></font></b>
<form action="" method="post" id="profile-edit-form" class="clearfix">
    {% csrf_token %}
    {% for field in signup_form.visible_fields %}
    <div {% if field.errors %}class="error"{% else %}class = "clearfix"{% endif %}>
        {% for err in field.errors %}
            <span class="error">{{ err }}</span>
        {% endfor %}
        <div id ="left_setting">{{ field.label_tag }}</div>
        <div id = "right_setting">{{ field }}</div>
		<br><br>
    </div>
    {% endfor %}
    <p><input type="submit" value="Change" /></p>
    </form>
</div>

{% endblock %}
